
@{
    ViewBag.Title = "RegisterSuccess";
}



<body>
    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="text-xl-center">Kayıt işleminiz tamamlandı</h1>
        <hr />
        <h2 class="text-xl-center">Hesap aktivasyonunuzu tamamlamak için e-mail adresinize gönderdiğimiz linke <a href="https://mail.google.com/">tıklayınız.</a></h2>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /> <br />
        <br />
        <br />
        <br />
    </div>
</body>


<script>
    $(function () {

        setTimeout(function () {
            window.location = "/Register/RegisterNow";
        }, 5000)


    })
</script>