
@{
    ViewBag.Title = "RegisterSuccess";
}

<body>
    <div>
        <h2>Kayıt işleminiz tamamlandı</h2>
        <h2>Hesap aktivasyonunuzu tamamlamak için e-mail adresinize gönderdiğimiz linke tıklayınız</h2>

    </div>
</body>


<script>
    $(function () {

        setTimeout(function () {
            window.location = "/Register/RegisterNow";
        }, 5000)


    })
</script>