@model CategoryVM
@{
    ViewBag.Title = "AddCategory";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading"><h2>Kategori Ekleme Sayfası</h2></header>
            <div class="panel-body">
                <div class="adv-table editable-table ">
                    @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { enctype = "multipart/form-date" }))
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <section class="panel">
                                    <div class="panel-body">
                                        @*...Resim eklenebilir...
                            <div class="form-group">
                                 <label class="col-sm-2 col-sm-2 control-label">Resim Seçiniz</label>
                                 <div class="col-sm-10">
                                     <input type="file" name="resim" class="form-control genislik" />
                                 </div>
                            </div>*@

                                        @*<br /> <br />*@

                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Kategori İsmi</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(x => x.Category.CategoryName, new { @class = "form-control genislik", placeholder = "Kategori İsmi Giriniz" })
                                            </div>
                                        </div>

                                        <br /> <br />

                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Açıklama</label>
                                            <div class="col-sm-4">
                                                @Html.TextAreaFor(x => x.Category.Description, new { @class = "form-control genislik", placeholder = "Açıklama Giriniz" })
                                            </div>
                                        </div>

                                        <br /> <br />

                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button class="btn btn-primary">
                                                    Kategori Ekle
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->