@model AppUserVM
@{
    ViewBag.Title = "LostPassword";
}

@using (Html.BeginForm("LostPassword", "Account", FormMethod.Post, new { @class = "form-signin" }))
{

    <div id="forgot_pw">
        <div class="form-group">

            @Html.TextBoxFor(x=>x.AppUser.Email, new { @class = "form-control", placeholder = "Type your email", name = "email_forgot", type = "email", id = "email_forgot" })
            @*<input type="email" class="form-control" name="email_forgot"  placeholder="Type your email">*@
        </div>
        <p>A new password will be sent shortly.</p>
        <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
    </div>
}
