@model BlogVM
@{
    ViewBag.Title = "UpdateBlog";
}

<style>
    .genislik {
        width: 300px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Blog.ID)
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <h4 class="panel-heading">Blog Yazısı Güncelleme Sayfası</h4>
                <br /> <br />
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Resim Seçiniz</label>
                        <div class="col-sm-10">
                            <input type="file" name="resim" class="form-control genislik" />
                        </div>
                    </div>

                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Başlık</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Blog.Title, new { @class = "form-control genislik", placeholder = "YazıBaşlığını Güncelleyiniz" })
                        </div>
                    </div>

                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Blog Yazısı</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Blog.Description, new { @class = "form-control genislik",placeholder = "Blog Yazısını Güncelleyiniz" })
                        </div>
                    </div>

                    <br /> <br />

                    <div class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-primary">
                                Blog Yazısı Güncelle
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}


